/* File: fonts.css
*  Note: All fonts listed are required to be copyright free.
*/
@font-face {
    font-family: stormfaze;
    src: url("../assets/fonts/stormfaze.ttf");
}

@font-face {
    font-family: monoton;
    src: url("../assets/fonts/Monoton-Regular.ttf");
}