
.account-form-spacer {
    height: 50px;
    background-color: black;
}

.account-form-header {
    font-family: monoton;
    text-align: center;
    font-size: 6em;
    color: white;
    padding: 10px;
}

.account-form-container {
    display: flex;
    justify-content: center;
}

.account-form-panel {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    height: 30em;
    width: 30em;
    background-color: rgba(100, 237, 255, 0.75);
    padding: 50px;
    border-radius: 100px;
}

.account-form-button {
    margin: auto;
    background-color: rgb(174, 0, 255);
    color: white;
    padding: 5px;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-family: stormfaze;
    cursor: pointer;
}

.account-form-warning {
    color: red;
    font-family: orbitron;
    font-size: 20px;
    opacity: 0;
}

.input-field-container{
    padding: 20px;
}

.input-field {
    background-color: white;
    padding: 10px 50px 10px 50px;
    height: 40px;
    width: 300px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-family: stormfaze;
    text-align: center;
}


/*  */
/*  */


button:disabled{
    background: gray !important;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
}

.quickstart-user-details-container{
    visibility: hidden;
}






