/* File: main.css */

@import "./utils/fonts.css";
@import "./utils/scrollbar.css";
@import "./pages/main_page.css";
@import "./pages/account_form.css";


* {
    margin: 0;
}

body {
    overflow: overlay;
    background-color: rgb(0, 0, 0);
    background-image: url("../assets/images/arcade_background.jpg");
}
