@import url('https://fonts.googleapis.com/css?family=Orbitron|Quicksand:500');

* {
    font-family: Orbitron !important;
}

html, body {
    background: url('https://ak.picdn.net/shutterstock/videos/1011355004/thumb/1.jpg?ip=x480');
}

header {
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 10px;
}

h1{
    font-size: 6.2rem;
}

.container{
    text-align: center;
}

button{
    border-radius: 20px !important;
    background: white !important;
}

button:disabled{
    background: gray !important;
}

#email, #password{
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 50px 10px 50px;
    text-align: center;
    width: auto;
    border-radius: 20px;
    background: white;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
  }

.quickstart-user-details-container{
    visibility: hidden;
}






