* {
    font-family: stormfaze;
}

#root{
    height: 100%;
}

html,
body {
    height: 98%;
}

body {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1011355004/thumb/1.jpg?ip=x480");
}

h2 {
    color: white;
}

button {
    cursor: pointer;
    border-radius: 10px;
    font-size: 0.8vw;
}

button:hover {
    transform: scale(1.2) !important;
}

button:disabled{
    cursor: not-allowed !important;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: [first] 5% [line1] 5% [line2] 5% [line3] 2.5% [line4] auto [line5] 2.5% [line5] 20% [line6] 2.5% [end];
  grid-template-rows: [first] 2.5% [line2] 20% [line3] 2.5% [line4] 20% [line5] 10% [line6] 10% [line7] 5% [line8] 5% [line9] auto [end];
}

.header {
  display: flex;
  grid-column: 5 / span 2;
  grid-row: 2 / span 1;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vw;
}


.score-1 {
  display: flex;
  grid-column: 2 / span 2;
  grid-row: 5 / span 1;
  background-color: rgba(248, 59, 58, 0.9);
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}

.score-2 {
  display: flex;
  grid-column: 2 / span 2;
  grid-row: 7 / span 2;
  background-color: blue;
  background-color: rgba(66, 233, 244, 0.9);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}


.table-4 {
  display: grid;
  grid-column: 5 / span 1;
  grid-row: 4 / span 6;
  grid-template-columns: [first] 2.5% [line2] auto [line3] 2.5% [end];
  grid-template-rows: [first] 5% [line2] auto [line3] 5% [end];
  background-color: #984c4c;
  border-radius: 50px;
}

.table-3 {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  grid-template-columns: [first] 2.5% [line2] auto [line3] 2.5% [end];
  grid-template-rows: [first] 5% [line2] auto [line3] 5% [end];
  background-color: #a95555;
  border-radius: 40px;
}

.table-2 {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  grid-template-columns: [first] 2.5% [line2] auto [line3] 2.5% [end];
  grid-template-rows: [first] 5% [line2] auto [line3] 5% [end];
  background-color: #429b42;
  border-radius: 30px;
}

.table {
  display: grid;
  grid-template-columns: [first] 25% [line2] auto [line3] 25% [end];
  grid-template-rows: [first] 30% [line2] auto [line3] 40% [end];
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #4aad4a;
  border-radius: 20px;
  text-align: center;
}

.start {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 1;
    grid-row: 2/ span 1;
    justify-content: center;
    align-items: center;
}


#room-code {
    color: white;
    cursor: pointer;
}

.cards {
    grid-column: 2 / span 1;
    grid-row: 2/ span 2;
}

.seats {
    display: grid;
    grid-template-columns: [first] 25% [line2] auto [line3] 25% [end];
    grid-template-rows: [first] 30% [line2] auto [line3] 40% [end];
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.seat-1 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    grid-template-rows: [first] 50% [line2] 50% [end];
}

.seat-2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: [first] 50% [line2] 50% [end];
}

.seat-3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: [first] 50% [line2] 50% [end];
}

.seat-4 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-rows: [first] 50% [line2] 50% [end];
}

.seat-5 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-rows: [first] 50% [line2] 50% [end];
}

.player-pic {
    display: flex;
    grid-row: 1 / span 1;
    align-items: flex-end;
    justify-content: center;
}

.icon {
    height: 6vh;
}

.player-name {
    display: flex;
    grid-row: 2 / span 1;
    align-items: flex-start;
    justify-content: center;
    font-size: 1vw;
    color: white;
}

img:hover {
    transform: scale(1.5);
}

.menu {
  display: grid;
  grid-column: 7 / span 1;
  grid-row: 4 / span 4;
  grid-template-columns: [first] 6.25% [line1] 25% [line2] 6.25% [line3] 25% [line4] 6.25% [line5] 25% [line6] 6.25% [end];
  grid-template-rows: [first] 10% [line1] 10% [line2] 10% [line3] auto [line4] 5% [end];
  background-color: rgba(245,245,245, 0.7);
  border-radius: 20px;
}

.history {
  display: grid;
  color: white;
  grid-column: 7 / span 1;
  grid-row: 9 / span 1;
  /* grid-template-columns: [first] 6.25% [line1] 25% [line2] 6.25% [line3] 25% [line4] 6.25% [line5] 25% [line6] 6.25% [end];*/
  grid-template-rows: [first] 10% [line3] 15% [line3] auto [line4] 5% [end];
  background-color: rgba(245,245,245, 0.7);
  border-radius: 20px;
}

.history-header {
    display: flex;
    justify-content: center;
    grid-row: 2 / span 1;
    font-size: 2vw;
}

.last-action {
    grid-row: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8vw;
}

.create-game {
  grid-column: 1 / span 1;
  grid-row: 8 / span 2;
  color: white;
}

#create-game-button, #join-game-button, #start-game-button {
    padding: 1vw;
    border-radius: 1vw;
    cursor: pointer;
}

.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.ask {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.declare {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.pass {
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
}

.input {
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
  align-items: center;
  justify-content: space-evenly;
}

#join, #name{
    width: 7vw;
}

#host-name {
    width: 7vw;
}